body {
      margin: 0;
      font-family: "Poppins", sans-serif;
      background: linear-gradient(to bottom, #ffd6e0 50%, #e493b3 50%);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* Booking card */
    .booking-card {
      background-color: #ffe6ee;
      padding: 40px 35px;
      border-radius: 20px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      width: 320px;
      text-align: center;
    }
    .booking-card h1 {
      color: #d25b87;
      font-size: 22px;
      margin-bottom: 25px;
    }

    label {
      display: block;
      text-align: left;
      font-weight: 500;
      color: #d25b87;
      margin: 10px 0 5px;
    }

    input, select {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 8px;
      background-color: #fcd2dd;
      outline: none;
       font-size: 14px;
      color: #8a4b63;
    }

    input::placeholder {
      color: #a1687a;
    }

    button {
      margin-top: 20px;
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 10px;
      background-color: #f56b8d;
      color: white;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      background-color: #d25b87;
    }

    /* Success message */
    .success-message {
      margin-top: 15px;
      color: #d25b87;
      font-weight: bold;
      display: none;
    }