body {
      font-family: 'Poppins', sans-serif;
      background-color: #ffe6ea;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      background-color: #f8b6c0;
      padding: 40px;
      border-radius: 15px;
      width: 320px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    }
     h2 {
      text-align: center;
      color: #4a2b2b;
      margin-bottom: 25px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: #4a2b2b;
      font-weight: 500;
    }
    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: none;
      border-radius: 8px;
      background-color: #ffd7dc;
      font-size: 14px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
     .row input {
      width: 100%;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #5c3a3a;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      background-color: #422828;
    }
     .login {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
      color: #4a2b2b;
    }

    .login a {
      color: #4a2b2b;
      font-weight: bold;
      text-decoration: none;
    }

    .login a:hover {
      text-decoration: underline;
    }


