body{
            margin:0;
            font-family:'poppins',sans-serif;
            background-color:#faece6;
            color:#5a345a;
        }
        a{
            text-decoration:none;
            color:inherit;
        }
        header{
            background-color:#faece6;
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:15px 60px;
        }
        .logo{
            display:flex;
            align-items:center;
            gap:10px;
        }
        .logo-icon{
            width:40px;
            height:40px;
            background-color:#b97891;
            border-radius:50%;
            display:flex;
            align-items:center;
            justify-content:center;
            color:#fff;
            font-weight:bold;
            font-size:20px;
        }
        .logo h1{
            font-size:1.5rem;
            color:#874d73;
        }
         nav ul{
            list-style:none;
            display:flex;
            gap:30px;
            margin:0;
            padding:0;
        }
        nav a{
            font-weight:500;
            color:#5a345a;
            transition:0.3s;
        }
        nav a:hover{
            color:#b97891;
        }
        .hero{
            background-color:#b97891;
            color:white;
            text-align:left;
            padding:60px 80px;
            display:flex;
            justify-content:space-between;
            align-items:center;
            flex-wrap:wrap;
        }
        .hero-text{
            max-width:500px;
        }
        .hero h2{
            font-size:2.5rem;
            margin-bottom:10px;
        }
        .hero p{
            font-size:1rem;
            margin-bottom:20px
        }
        .hero button{
            background-color:#e8a2b8;
            border:none;
            padding:12px 25px;
            border-radius:10px;
            font-size:1rem;
            color:#5a345a;
            font-weight:bold;
            cursor:pointer;
            transition:all 0.3s;
        }
         .hero button:hover{
            background-color:#f5bfd0;
            transform:scale(1.05);
        }
        .hero-img{
            background-color:#d58aa5;
            width:150px;
            height:150px;
            border-radius:50%;
            display:flex;
            align-items:center;
            justify-content:center;
            font-size:60px;
        }
        .services{
            background-color:#faece6;
            text-align:center;
            padding:50px 20px;
        }
        .service h3{
            font-size:2rem;
            color:#874d73;
            margin-bottom:30px;
        }
        .service-container{
            display:flex;
            justify-content:center;
            flex-wrap:wrap;
        }
        .service-box{
            background-color:#f9e3e3;
            border-radius:15px;
            padding:20px;
            width:200px;
            box-shadow: 0 4px 10px rgba(0,0,0,0);
            transition:transform 0.3s;
        }
         .service-box:hover{
            transform:scale(1.05);
        }
        .service-box i{
            font-size:40px;
            color:#b97891;
            margin-bottom:15px;
        }
        .service-box h4{
            margin:0;
            color:#874d73;
            font-size:1,2rem;
        }
        footer{
            background-color:#b97891;
            padding:60px 40px;
            text-align:center;
            color:white;
        }
         footer h3{
            font-size:1.5rem;
            margin-bottom:20px;
        }
        .footer-buttons button{
            background-color:#ebe5e4;
            border:none;
            padding:12px 15px;
            border-radius:10px;
            font-size:1rem;
            color:#5a345a;
            font-weight:bold;
            cursor:pointer;
            transition:all 0.3s;
        }
        .footer-buttons button:hover{
            background-color:#f5bfd0;
            transform:scale(1.05);
        }
        